<head>
<script src="http://20.229.168.94:3000/assets/modules/channel-web/inject.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

<script>
      window.botpressWebChat.init({
        host: 'http://20.229.168.94:3000',
        botId: 'dhbw_auslandssemester'
      })

$("#bp-widget").contents().find("bpw-powered").attr("style","display:none")
</script>
    
</body>