
<head>
<script src="https://chatbot.dhbw-stuttgart.de/assets/modules/channel-web/inject.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
<script>
      window.botpressWebChat.init({
        host: 'https://chatbot.dhbw-stuttgart.de',
        botId: 'dhbw_auslandssemester_dhbw'
      })

setTimeout(function() {
    window.botpressWebChat.sendEvent({ type: 'message', text: 'Das Fenster wurde gestartet!' })
}, 5000);
</script>
    
</body>